---
const { technology } = Astro.props;
const { title, description, properties } = technology;
---

<article class="border border-gray-300 rounded-xl max-w-lg p-6 h-min overflow-hidden break-inside-avoid">
	<header>
		<h3 class="text-2xl font-extrabold text-[#ff70a6]">{title}</h3>
		<div class=""></div>
		<p class="text-base text-gray-700">{description}</p>
	</header>
	<hr class="color-gray-200 my-4" />
	<div class="content">
		{
			properties.map((property) => {
				return (
					<div class="my-3">
						<button>
							<p class="font-semibold text-md">{property.name}</p>
						</button>
						<p class="text-base text-gray-700 my-2">{property.description}</p>
						<div>
							<p class="font-semibold text-md mb-2">Usage</p>
							<div class="bg-gray-200 rounded-md p-4">
								<code class="text-sm break-words">{property.usage}</code>
							</div>
						</div>
					</div>
				);
			})
		}
	</div>
</article>
